.horarios__paragrafo{
    color: white;
    text-align: center;
    line-height: 2em;
}

.horarios__paragrafo strong{
    color: var(--cor3);
    font-weight: bold;
}

.horarios div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
