.cardapio__botao{
    text-align: center;
    padding: 1em;
    background-color: var(--cor1);
    text-decoration: none;
    color: white;
    border-radius: 25px;
    width: 150px;
    font-weight: bold;
    border: none;
    font-size: 1em;
    margin: 0 2vw 10px;
}

.cardapio__botao:hover{
    background-color: var(--cor3);
    cursor: pointer;
}